
<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango</title> 
    </head>

    <body>

        <div>
            Rango says... <br />
            here is the About page. <br />
            This tutorial has been put together by Zhejun Shen. <br />
        </div>

        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br /> 
        </div>

        <div>
            <a href="/rango/">index</a><br />

            <img src="{% static 'images/rango1.jpg' %}" alt="Picture of Rango" />

            <img src="{{ MEDIA_URL }}cat.jpeg" alt=" Picture of a Cat" />
        </div>

    </body>

</html>
